body {
    background-color: #fff;
}
/* HEADER */
.top_header,
.bottom_header {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 5rem;
}
.bottom_header .menu .icon {
    display: none;
}
.top_header .left h4,
.top_header .left .social_media {
    display: inline-block;
}
.top_header .left h4 {
    color:#81767e;
    padding-right: 1rem;
}
.top_header .left .social_media a {
    padding-right: 1rem;
    color: #606165;
    text-decoration: none;
}
.top_header .left .social_media a:hover {
    color: #3fc4ff;
}
.top_header .right {
    text-align: right;
}
.top_header .right h4 {
    display: inline-block;
    border: 1px solid #f3f3f3;
    margin: 0;
    border-top: none;
    border-bottom: none;
    padding: 1.2rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}
.top_header .right h4:first-child {
    border-right: none;
}
.top_header .right a {
    color:#81767e;
}
.top_header .right a:hover{
    text-decoration: none;
    color: #3fc4ff;
}
.bottom_header .logo h2 {
    font-family: monospace;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    padding: 2rem 0;
}
.bottom_header .logo h2:first-child {
    padding-right: 1rem; 
}
.bottom_header .menu {
    text-align: right;
}
.bottom_header .menu h2 {
    padding: 2rem 0;
    margin: 0;
    display: inline-block;
    cursor: pointer;
}
.bottom_header .menu h2 a {
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 1rem;
    color: #81767e;
    font-weight: 600;
}
.bottom_header .menu h2 a:hover {
    text-decoration: none;
    color: #3fc4ff;
}
/* WORK */
.work {
    display: block;
    overflow: hidden;
    padding: 4rem 5rem 8rem;
    background: linear-gradient(to bottom, #fbfcfe, #f3f8fc);
}
.work h2 {
    font-weight: 600;
    font-family: serif;
}
.work p {
    color: #b8b8b8;
    width: 450px;
    padding-bottom:3rem; 
}
.work a {
    text-transform: uppercase;
    background: #3fc4ff;
    color: #fff;
    border: 1px solid #3fc4ff;
    padding: 1rem 3rem;
    font-weight: 600;
}
.work .left {
    padding-top: 3rem;
}
.work .right {
    text-align: center;
}

/* SERVICES */
.services {
    display: block;
    overflow: hidden;
    padding: 3rem 5rem 5rem 5rem;
    border-bottom: 1px solid #f3f3f3;
}
.services h2,
.services .first {
    text-align: center;
}
.services h2 {
    font-weight: 600;
    font-family: serif;
}
.services .first {
    width: 600px;
    margin: auto;
    padding-bottom: 5rem;
}
.services .row div {
    text-align: center;
}
.services .row h4 {
    font-weight: 600;
    font-family: serif;
}
.services .row p {
    color: #b8b8b8;
}
/* MEETING */
.meeting {
    display: block;
    overflow: hidden;
    padding: 3rem 5rem 5rem 5rem;
}
.meeting h2 {
    font-weight: 600;
    font-family: serif;
}
.meeting p {
    color: #b8b8b8;
    width: 450px;
}
.meeting a {
    text-transform: uppercase;
    color: #3fc4ff;
    font-weight: 600;
}
.meeting .top,
.meeting .bottom {
    display: block;
    overflow: hidden;
}
.meeting .top .left {
    padding: 2rem 0;
}
.meeting .top .right {
    text-align: center;
}
.meeting .bottom .left {
    text-align: start;
}
.meeting .bottom .right {
    padding: 2rem 8rem;
}
/* ONLINE COURSES */
.online_courses {
    display: block;
    overflow: hidden;
    background: #f3f8fc;
    padding: 4rem 5rem;
}
.online_courses h2,
.online_courses .first {
    text-align: center;
}
.online_courses h2 {
    font-weight: 600;
    font-family: serif;
}
.online_courses .first {
    width: 600px;
    margin: auto;
    padding-bottom: 5rem;
}
.online_courses .carousel-indicators li {
    background-color: #9cdffe;
    border: 1px solid #9cdffe;
}
.online_courses .carousel-indicators .active {
    background-color: #3fc5fe;
}
.online_courses .carousel-inner .item {
    padding-bottom: 7rem;
}
.online_courses .card,
.online_courses .card img {
    width: 100%;
}
.online_courses .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}
.online_courses .content {
    padding: 2px 16px;
    background: #fff;
}
.online_courses .content h4 b:first-child {
    font-family: initial;
}
.online_courses .content h4 b:last-child {
    float: right;
    color: #fff;
    border-radius: 25px;
    padding: .5rem 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.online_courses .content h4 b.free{
    background: #ffd741;
}
.online_courses .content h4 b.price{
    background: #3fc4ff;
}
.online_courses .content h6 {
    color: #b8b8b8;
}
.online_courses .content h6 span {
    padding-left:0.5rem;
}
.online_courses .content h6 i.fa-tag {
    padding-left: 0.5rem;
}
.online_courses .content p {
    color: #b8b8b8;
    text-align: start;
    width: 100%;
}

/* SLIDER */
.slider {
    display: block;
    overflow: hidden;
    background: url("../../assets/images/map.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 4rem 0;
}
.slider .carousel-inner .item {
    text-align: center;
    padding: 4rem;
}
.slider .carousel-inner .item img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    display: block;
    margin: auto;
}
.slider .carousel-inner .item p {
    width: 600px;
    margin: auto;
    padding: 1rem;
    color: #b8b8b8;
}
.slider .carousel-inner .item h3 {
    font-family: initial;
}
.slider .carousel-inner .item h4 {
    margin: 0; 
    padding-bottom: 3rem;
    color: #b8b8b8;
}

.slider .carousel-indicators li {
    background-color: #9cdffe;
    border: 1px solid #9cdffe;
}
.slider .carousel-indicators .active {
    background-color: #3fc5fe;
}
/* FOOTER */
.footer {
    background-color: #222222;
    display: block;
    overflow: hidden;
    padding: 2rem 5rem;
}
.footer h4 {
    color: #797d80;
}
.footer .contact .social_media, 
.footer .contact h4 {
    display: inline-block;
}
.footer .contact {
    text-align: right;
}
.footer .contact .social_media a {
    color: #797d80;
}
.footer .contact h4,
.footer .contact .social_media a {
    padding-right: 1.2rem;
}
.footer .contact .social_media a {
    text-decoration: none;
    font-size: 1.8rem;
}
.footer .contact .social_media a:hover {
    color: #3fc4ff;
}