/*1024*/
@media (min-width: 768px) and (max-width: 1024px){
    .bottom_header .menu {
        text-align: start;
        padding: 0;
    }
    .bottom_header,
    .top_header {
        padding: 0 2rem;
    }
    .work {
        padding: 4rem 1rem 8rem;
    }
    .work .left {
        text-align: center;
        padding: 3rem;
    }
    .work .right img {
        width: 100%;
    }
    .work p {
        width: 700px;
    }
    .meeting {
        padding: 3rem 1rem 5rem;
    }
    .meeting p {
        width: 750px;
    }
    .meeting .top .left {
        padding: 2rem 0;
        text-align: center;
    }
    .meeting .top .right img {
        width: 100%;
    }
    .meeting .bottom .left img {
        width: 100%;
    }
    .meeting .bottom .right {
        padding: 2rem 0rem;
        text-align: center;
    }
    .footer {
        padding: 2rem 1rem;
    }
    .footer .copyright,
    .footer .contact {
        text-align: center;
    }
}
/*767*/
@media (min-width: 481px) and (max-width: 767px){
    .bottom_header,
    .top_header {
        padding: 0 1rem;
    }
    .bottom_header .menu,
    .top_header .right {
        text-align: start;
    }
    .top_header .right h4:first-child {
        padding-right: 1.5rem;
        border-left: none;
    }
    .top_header .right h4:last-child {
        border-right: none;
        padding-left: 1.5rem;
    }
    .top_header .right h4 {
        padding: 1.2rem 0rem;
    }
    .top_header .left .social_media {
        float: right;
        padding: 1rem;
    }


    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .topnav.responsive h2 a,
    .topnav.responsive h2.icons {
        float: none;
        display: block;
        text-align: center;
        color: #81767e;
    }
    .topnav h2 a,
    .topnav h2.icons {
        display: none;
        }
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 3rem;
        color: #000;
        padding: 1rem 0;
    }



    .work {
        padding: 4rem 1rem 8rem;
    }
    .work .left {
        text-align: center;
        padding: 3rem;
    }
    .work .right img {
        width: 100%;
    }
    .work p {
        width: 400px;
    }
    .services {
        padding: 3rem 1rem 5rem;
    }
    .services .first {
        width: 350px;
    }
    .meeting {
        padding: 3rem 1rem 5rem;
    }
    .meeting p {
        width: 400px;
    }
    .meeting .top .left {
        padding: 2rem 0;
        text-align: center;
    }
    .meeting .top .right img {
        width: 100%;
    }
    .meeting .bottom .right {
        padding: 2rem 0rem;
        text-align: center;
    }
    .online_courses {
        padding: 4rem 1rem;
    }
    .online_courses .content h4 b:last-child {
        border-radius: 0;
        position: relative;
        bottom: 142px;
        right: 0;
        left: 16px;
    }

    .online_courses .first {
        width: 350px;
    }
    .slider .carousel-inner .item p {
        width: 380px;
    }
    .footer {
        padding: 2rem 1rem;
    }
    .footer .copyright,
    .footer .contact {
        text-align: center;
    }
}
/*480*/
@media (max-width: 480px) {
    .bottom_header,
    .top_header {
        padding: 0 1rem;
    }
    .bottom_header .menu,
    .top_header .right {
        text-align: start;
    }
    .top_header .right h4:first-child {
        padding-right: 1.5rem;
        border-left: none;
    }
    .top_header .right h4:last-child {
        border-right: none;
        padding-left: 1.5rem;
    }
    .top_header .right h4 {
        padding: 1.2rem 0rem;
    }
    .top_header .left .social_media {
        float: right;
        padding: 1rem;
    }


    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
    }
    .topnav.responsive h2 a,
    .topnav.responsive h2.icons {
        float: none;
        display: block;
        text-align: center;
        color: #81767e;
    }
    .topnav h2 a,
    .topnav h2.icons {
        display: none;
        }
    .topnav a.icon {
        float: right;
        display: block;
        font-size: 3rem;
        color: #000;
        padding: 1rem 0;
    }



    .work {
        padding: 4rem 1rem 8rem;
    }
    .work .left {
        text-align: center;
        padding: 3rem;
    }
    .work .right img {
        width: 100%;
    }
    .work p {
        width: 400px;
    }
    .services {
        padding: 3rem 1rem 5rem;
    }
    .services .first {
        width: 350px;
    }
    .meeting {
        padding: 3rem 1rem 5rem;
    }
    .meeting p {
        width: 400px;
    }
    .meeting .top .left {
        padding: 2rem 0;
        text-align: center;
    }
    .meeting .top .right img {
        width: 100%;
    }
    .meeting .bottom .right {
        padding: 2rem 0rem;
        text-align: center;
    }
    .online_courses {
        padding: 4rem 1rem;
    }
    .online_courses .content h4 b:last-child {
        border-radius: 0;
        position: relative;
        bottom: 142px;
        right: 0;
        left: 16px;
    }

    .online_courses .first {
        width: 350px;
    }
    .slider .carousel-inner .item p {
        width: 380px;
    }
    .footer {
        padding: 2rem 1rem;
    }
    .footer .copyright,
    .footer .contact {
        text-align: center;
    }

}